<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmModal()"
        [strong]="true">Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      id="custom-input"
      [(ngModel)]="trip.price"
      label="Valor del vuelo ida y vuelta en CLP"
      labelPlacement="floating"
    ></ion-input>
  </ion-item>
</ion-content>
