<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Destinos Vacacionales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="w-full h-full flex flex-col">
    <ion-searchbar [debounce]="200"
      (ionInput)="handleInput($event)"></ion-searchbar>
    <div class="flex items-center justify-center">
      <ion-spinner *ngIf="loadingTrips"></ion-spinner>
    </div>
    <ng-container *ngIf="isSearching">
      <app-trip-preview-list [trips]="tripsSearchResults"></app-trip-preview-list>
    </ng-container>
    <app-trip-list></app-trip-list>
  </div>
</ion-content>


